/* div{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin-top: 20px;
} */


/* input[type="submit"]{
    width: 70px;
    height: 20px;
}

.active{
    border: 2px solid red;
}

.active2{
    border: 2px solid green;
} */